*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #265472, #58256b);
    color: rgb(212, 249, 214);
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
    height: 100vh;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: rgb(239, 234, 255);
    color: #333;
    display: flex;
    align-items: center;
    padding: 26px 20px;
    justify-content: space-between;
    border-radius: 15px;


}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: hsl(122, 48%, 75%);
    border-bottom: 4px solid hsl(122, 48%, 75%);
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 55px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border:0;
    outline:0;
    font-size: 24px;
    background:  rgb(239, 234, 255);
    
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border:0;
    outline:0;
    font-size: 22px;
    background:  hsl(122, 48%, 75%);
    font-weight: 400;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    cursor: pointer;
}